<%if (usersType.owner){%>
  <% include ../templates/head.ejs %>
  <link rel="stylesheet" href="/public/assets/material/examples/css/pages/user.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/alertify/alertify.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/notie/notie.css">
  <link rel="stylesheet" href="/public/assets/material/examples/css/advanced/alertify.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/select2/select2.min.css?v2.2.0">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/clockpicker/clockpicker.css">

  <link rel="stylesheet" href="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/dropify/dropify.css">

  <link rel="stylesheet" href="/public/assets/material/global/vendor/asrange/asRange.css">

  <body class="animsition page-user">
    <!-- Headear barra -->
    <% include ../templates/header.ejs %>
    <!-- Menu-->
    <% include ../templates/menuvertical.ejs %>
    <div class="page">
      <div class="page-content">
<%}%>
<h4 class="example-title">Listado de Clientes</h4>
<div class="panel">
  <div class="panel-body">
    <form class="page-search-form" role="search"></form>
    <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="dropdown page-user-sortlist" style="margin-right:100px;margin-top:-50px;">
              Ordenar Por: <a class="dropdown-toggle inline-block" data-toggle="dropdown" href="#" aria-expanded="false">Nombre</a>
              <div class="dropdown-menu animation-scale-up animation-top-right animation-duration-250" role="menu">
                  <a class="active dropdown-item" href="javascript:void(0)">Otra</a>
              </div>
              <div class="site-action" data-target="#addTopicForm2" data-toggle="modal" data-plugin="actionBtn" style="position:absolute;margin-right:-60px;margin-bottom:-31px;">
                <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating" style="position: absolute;margin-right: 54px;border-radius: 6px;width: 40px;height: 30px;background-color: #523eba;border-color: #523eba;">
                  <i class="icon md-plus" aria-hidden="true" style="position:absolute;font-size:1.7145rem;margin-left:-12px;margin-top: -4px;"></i>
                </button>
              </div>
            </div>
        </div>
        </div>

      <div class="tab-content">
        <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
          <%if(dataClient.length>0){%>
          <% for(var i=0; i<dataClient.length; i++) {%>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="media">
                <div class="pr-20">
                  <div class="avatar avatar-online">
                    <img src="/public/assets/material/global/portraits/1.jpg" alt="...">
                      <i class="avatar avatar-busy"></i>
                  </div>
                </div>
                <div class="media-body">
                  <form class="form-horizontal">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group row form-material row">
                          <label class="col-md-6 form-control-label">Nombre:</label>
                          <div class="col-md-6">
                            <input class="form-control" id="client-name-<%= dataClient[i].objectId%>" style="border:0px;background:none;" value="<%=dataClient[i].name%>" disabled></input>
                          </div>
                        </div>
                        <div class="form-group row form-material row">
                          <label class="col-md-6 form-control-label">Email:</label>
                            <div class="col-md-6">
                              <input class="form-control" id="client-email-<%= dataClient[i].objectId%>" style="border:0px;background:none;width:140%;" value="<%=dataClient[i].username%>" disabled></input>
                            </div>
                        </div>
                        <div class="form-group row form-material row">
                          <label class="col-md-6 form-control-label">Telefono:</label>
                            <div class="col-md-6">
                              <input class="form-control" id="client-phone-<%= dataClient[i].objectId%>" style="border:0px;background:none;width:140%;" value="<%=dataClient[i].phone%>" disabled></input>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group row form-material row"></div>
                      </div>
                      <div class="col-md-3">
                        <div class="pl-20 align-self-center">
                          <button type="button" class="btn btn-primary btn-sm edit-client resetcl-<%= dataClient[i].objectId%>" data-edit-id="<%= dataClient[i].objectId%>"><span id="nameC-text-<%= dataClient[i].objectId%>">Editar</span></button>
                          <button type="button" class="btn btn-primary btn-danger waves-effect delete-cliente del-<%= dataClient[i].objectId%>" data-delete-id="<%= dataClient[i].objectId%>" style="height:32px;">Eliminar</button>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary waves-effect" id="clientConflict" data-plugin="alertify"
                    data-type="log" data-delay="3000" data-log-message="Ya este Email Existe para otro Propietario " style="visibility:hidden;" >delay</button>
                    <button type="button" class="btn btn-primary waves-effect" id="clientSave" data-plugin="alertify"
                    data-type="log" data-delay="3000" data-log-message="Se guardo con Exito" style="visibility:hidden;" >delay</button>
                    <button type="button" class="btn btn-primary waves-effect" id="clientError" data-plugin="alertify"
                    data-type="log" data-delay="3000" data-log-message="Error al guardar" style="visibility:hidden;" >delay</button>
                    <button type="button" class="btn btn-primary waves-effect" id="clientsucc" data-plugin="alertify"
                    data-type="log" data-delay="3000" data-log-message="Datos Enviados" style="visibility:hidden;" >delay</button>
                    <button type="button" class="btn btn-primary waves-effect" id="email-error" data-plugin="alertify"
                    data-type="log" data-delay="3000" data-log-message="Email Incorrecto" style="visibility:hidden;" >delay</button>
                  </form>
                </div>
              </li>
            </ul>
          <%}%>
          <%if(catpageE!=10){%>
            <nav>
              <ul data-plugin="paginator" id="paginationId4" data-total="<%=catpageE%>" data-skin="pagination-no-border"></ul>
            </nav>
          <%}%>
          <%}else{%>
            No hay Clientes disponibles
          <%}%>
          <input id="flagPaginator" value="4" style="visibility:hidden;">
          <input id="Bid" value="<%=bussiId%>" style="visibility:hidden;">
          <input id="BidFlag" value="<%if (usersType.owner){%>1<%}else{%>2<%}%>" style="visibility:hidden;">
          <input id="pageN" value="<%=selectPageE%>" style="visibility:hidden;">
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Nuevo Cliente -->

    <div class="modal fade" id="addTopicForm2" aria-hidden="true" aria-labelledby="addTopicForm" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                  <h4 class="modal-title">Crear nuevo Cliente</h4>
              </div>
              <div class="modal-body container-fluid" style="width:100%;">
                <form method="post">
                  <div class="form-group">
                      <label class="form-control-label mb-15" for="topicTitle">Nombre:</label>
                      <input type="text" class="form-control" id="client-name-new" name="nombre" placeholder="Nombre" required/>
                  </div>
                  <div class="form-group">
                      <label class="form-control-label mb-15" for="topicTitle">Email:</label>
                      <input type="text" class="form-control" id="client-email-new" name="email" placeholder="Email" required/>
                  </div>
                  <div class="form-group">
                      <label class="form-control-label mb-15" for="topicTitle">Tel&eacute;fono:</label>
                      <input type="text" class="form-control" id="client-phone-new" name="telefono" placeholder="Tel&eacute;fono" required/>
                  </div>
                  <div class="col-md-12 panel-body container-fluid">
                    <div class="row row-lg">
                      <div class="example-wrap">
                        <label class="form-control-label">Seleccione una Imagen:</label>
                        <div class="example">
                          <input type="file" id="input-file-now" data-plugin="dropify" data-default-file=""/>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="modal-footer text-left">
                  <button class="btn btn-primary cliente" id="clienteCreate" type="submit">Crear</button>
                  <img class="loadgif" src="/public/assets/images/load.svg" style="margin-left:-40px; visibility:hidden;">
                  <a class="btn btn-sm btn-white btn-flat-cliente" data-dismiss="modal" href="javascript:void(0)">Cancelar</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


<%if (usersType.owner){%>
<!-- Footer -->
<% include ../templates/footer.ejs %>
<!-- Core  -->
<script src="/public/assets/material/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
<script src="/public/assets/material/global/vendor/jquery/jquery.js"></script>
<script src="/public/assets/material/global/vendor/tether/tether.js"></script>
<script src="/public/assets/material/global/vendor/bootstrap/bootstrap.js"></script>
<script src="/public/assets/material/global/vendor/animsition/animsition.js"></script>
<script src="/public/assets/material/global/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="/public/assets/material/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
<script src="/public/assets/material/global/vendor/asscrollable/jquery-asScrollable.js"></script>
<script src="/public/assets/material/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
<script src="/public/assets/material/global/vendor/waves/waves.js"></script>
<!-- Plugins -->
<script src="/public/assets/material/global/vendor/switchery/switchery.min.js"></script>
<script src="/public/assets/material/global/vendor/intro-js/intro.js"></script>
<script src="/public/assets/material/global/vendor/screenfull/screenfull.js"></script>
<script src="/public/assets/material/global/vendor/slidepanel/jquery-slidePanel.js"></script>
<script src="/public/assets/material/global/vendor/aspaginator/jquery.asPaginator.min.js"></script>
<script src="/public/assets/material/global/vendor/alertify/alertify.js"></script>


<script src="/public/assets/material/global/vendor/jquery-ui/jquery-ui.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-tmpl/tmpl.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-canvas-to-blob/canvas-to-blob.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-load-image/load-image.all.min.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-process.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-image.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-audio.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-video.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-validate.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-ui.js"></script>
<script src="/public/assets/material/global/vendor/dropify/dropify.min.js"></script>

<script src="/public/assets/material/global/vendor/asrange/jquery-asRange.min.js"></script>

<!-- Scripts -->
<script src="/public/assets/material/global/js/State.js"></script>
<script src="/public/assets/material/global/js/Component.js"></script>
<script src="/public/assets/material/global/js/Plugin.js"></script>
<script src="/public/assets/material/global/js/Base.js"></script>
<script src="/public/assets/material/global/js/Config.js"></script>
<script src="/public/assets/material/js/Section/Menubar.js"></script>
<script src="/public/assets/material/js/Section/Sidebar.js"></script>
<script src="/public/assets/material/js/Section/PageAside.js"></script>
<script src="/public/assets/material/js/Plugin/menu.js"></script>
 <script src="/public/assets/material/global/vendor/clockpicker/bootstrap-clockpicker.min.js"></script>
<!-- Config -->
<script src="/public/assets/material/global/js/config/colors.js"></script>
<script src="/public/assets/material/js/config/tour.js"></script>
<script>
Config.set('assets', '../../assets');
</script>
<!-- Page -->
<script src="/public/assets/js/moment.js"></script>
<script src="/public/assets/material/js/Site.js"></script>
<script src="/public/assets/material/global/js/Plugin/asscrollable.js"></script>
<script src="/public/assets/material/global/js/Plugin/slidepanel.js"></script>
<script src="/public/assets/material/global/js/Plugin/switchery.js"></script>
<script src="/public/assets/material/global/js/Plugin/aspaginator.js"></script>
<script src="/public/assets/material/global/js/Plugin/responsive-tabs.js"></script>
<script src="/public/assets/material/global/js/Plugin/tabs.js"></script>
<script src="/public/assets/material/global/js/Plugin/alertify.js"></script>
<script src="/public/assets/js/client.js"></script>
<script src="/public/assets/material/global/vendor/select2/select2.min.js"></script>
<script src="/public/assets/material/global/js/Plugin/select2.min.js"></script>
<script src="/public/assets/material/global/js/Plugin/clockpicker.js"></script>

<script src="/public/assets/material/global/js/Plugin/dropify.js"></script>
<script src="/public/assets/material/examples/js/forms/uploads.js"></script>
 <script src="/public/assets/material/global/js/Plugin/asrange.js"></script>


<script>
(function(document, window, $) {
  'use strict';
  var Site = window.Site;
  $(document).ready(function() {
    Site.run();
    var cadena = $(".pagination-next")[0].className;
    if (cadena.indexOf('disabled') != -1) {
      $(".pagination-next").prop("onclick", null);
    }
    var cadena2 = $(".pagination-prev")[0].className;
    if (cadena2.indexOf('disabled') != -1) {
      $(".pagination-prev").prop("onclick", null);
    }
  });
})(document, window, jQuery);

function prevC() {
  var delayMillis = 100;
  setTimeout(function() {
    var lis = $("li.pagination-items").find("active");
    for (var i = 0; i < lis.prevObject.length; i++) {
        var nameclass = lis.prevObject[i].className;
        if (nameclass.search("active")!="-1") {
          if ($("#flagPaginator").val()==4) {
              window.location.href = '/client/'+$("#Bid").val()+'?page='+lis.prevObject[i].textContent;
          }
        }
    }
  }, delayMillis);
}
function nextC() {
  var delayMillis = 100;
  setTimeout(function() {
    var lis = $("li.pagination-items").find("active");
    for (var i = 0; i < lis.prevObject.length; i++) {
        var nameclass = lis.prevObject[i].className;
        if (nameclass.search("active")!="-1") {
          if ($("#flagPaginator").val()==4) {
              window.location.href = '/client/'+$("#Bid").val()+'?page='+lis.prevObject[i].textContent;
          }
        }
    }
  }, delayMillis);
}

</script>
<%}%>

  <% for(var o=0; o<dataClient.length; o++) {%>
  <div class="alertify modalClient-<%=dataClient[o].objectId%>" style="visibility:hidden;">
    <div class="dialog">
      <div><p class="msg empl">Seguro de eliminar el Cliente?</p>
        <nav>
          <button class="canceleCm btn btn-default" data-cancelc-id="<%=dataClient[o].objectId%>" tabindex="2">Cancelar</button>
          <button class="deleteCm btn btn-primary" id="okeC-<%=dataClient[o].objectId%>" data-del-id="<%=dataClient[o].objectId%>" tabindex="1">Borrar</button>
        </nav>
      </div>
    </div>
  </div>
<%}%>
