<h4 class="example-title">Empleados</h4>
<div class="panel">
    <div class="panel-body">
        <form class="page-search-form" role="search"></form>
        <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="dropdown page-user-sortlist" style="margin-right:100px;margin-top:-50px;">
                Ordenar Por: <a class="dropdown-toggle inline-block" data-toggle="dropdown" href="#" aria-expanded="false">Nombre</a>
                <div class="dropdown-menu animation-scale-up animation-top-right animation-duration-250" role="menu">
                  <a class="active dropdown-item" href="javascript:void(0)">Otra</a>
                </div>
                <div class="site-action" data-toggle="modal" data-target="#addStageFrom" data-plugin="actionBtn" style="position:absolute;margin-right:-60px;margin-bottom:-31px;">
                  <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating" style="position: absolute;margin-right: 54px;border-radius: 6px;width: 40px;height: 30px;background-color: #523eba;border-color: #523eba;">
                    <i class="icon md-plus" aria-hidden="true" style="position:absolute;font-size:1.7145rem;margin-left:-12px;margin-top: -4px;"></i>
                  </button>
                </div>
              </div>
            </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                  <div class="row">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-2 col-sm-2"><label><b>Nombre</b></label></div>
                    <div class="col-md-2 col-sm-2"><label><b>Email</b></label></div>
                    <div class="col-md-2 col-sm-2"><label><b>Tel&eacute;fono</b></label></div>
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-2 col-sm-2"></div>
                  </div>
                    <ul class="list-group">
                      <%if (employeeB.employee.length>0){%>
                        <% for(var o=0; o<employeeB.employee.length; o++) {%>
                          <%if (employeeB.employee[o].isActive==false){%>
                            <li class="list-group-item" style="background-color:darkgray;">
                            <%}else {%>
                              <li class="list-group-item">
                            <%}%>
                                <div class="media">
                                    <div class="media-body">
                                      <form class="form-horizontal">
                                        <div class="row">
                                          <div class="col-md-2 col-sm-2">
                                            <div class="avatar avatar-online" style="border-style:solid;border-color:#523eba;">
                                              <%if (employeeB.employee[o].image){%>
                                                  <img src="<%=employeeB.employee[o].image.url%>" alt="...">
                                                <%}else{%>
                                                  <img src="/public/assets/images/avataremployee.png" alt="...">
                                                <%}%>
                                              <i class="avatar avatar-busy"></i>
                                            </div>
                                          </div>
                                          <div class="col-md-2 col-sm-2">
                                            <input class="form-control" id="emplo-name-<%=employeeB.employee[o].objectId%>" style="border:0px;background:none;" value="<%=employeeB.employee[o].name%>" disabled></input>
                                          </div>
                                          <div class="col-md-2 col-sm-2">
                                            <input class="form-control" id="emplo-email-<%=employeeB.employee[o].objectId%>" style="border:0px;background:none;width:140%;" value="<%=employeeB.employee[o].username%>" disabled></input>
                                          </div>
                                          <div class="col-md-2 col-sm-2">
                                            <input class="form-control" id="emplo-phone-<%=employeeB.employee[o].objectId%>" style="border:0px;background:none;" value="<%=employeeB.employee[o].phone%>" disabled></input>
                                          </div>
                                          <div class="col-md-2 col-sm-2">
                                            <%if (employeeB.employee[o].isActive==false){%>
                                              <button type="button" class="btn btn-primary btn-warning disabledEmpl waves-effect" data-activate-id="<%=employeeB.employee[o].objectId%>" id="confirmA-<%=employeeB.employee[o].objectId%>" style="height:32px;">Activar</button>
                                              <%}else{%>
                                                <button type="button" class="btn btn-primary btn-sm edit btn-<%=employeeB.employee[o].objectId%>" data-edit-id="<%=employeeB.employee[o].objectId%>" ><span id="nameE-<%=employeeB.employee[o].objectId%>">Editar</span></button>
                                                <button type="button" class="btn btn-primary btn-danger waves-effect" data-delete-id="<%=employeeB.employee[o].objectId%>" id="confirm-<%=employeeB.employee[o].objectId%>" style="height:32px;">Eliminar</button>
                                                <%}%>
                                              </div>
                                          <div class="col-md-2 col-sm-2"></div>
                                        </div>
                                      </form>
                                    </div>
                                </div>
                            </li>
                            <%}%>
                            <button type="button" class="btn btn-sm btn-primary waves-effect" id="employeeDelay" data-plugin="alertify"
                              data-type="log" data-delay="3000" data-log-message="Datos Enviados" style="visibility:hidden;" >delay</button>
                            <button type="button" class="btn btn-sm btn-primary waves-effect" id="emplook" data-plugin="alertify"
                              data-type="log" data-delay="3000" data-log-message="Borrado" style="visibility:hidden;" >delay</button>
                            <button type="button" class="btn btn-sm btn-primary waves-effect" id="emploDesactivate" data-plugin="alertify"
                              data-type="log" data-delay="3000" data-log-message="Activado" style="visibility:hidden;" >delay</button>
                            <button type="button" class="btn btn-sm btn-primary waves-effect" id="emplocancel" data-plugin="alertify"
                              data-type="log" data-delay="3000" data-log-message="Cancelada" style="visibility:hidden;" >delay</button>
                            <button type="button" class="btn btn-primary waves-effect" id="employeeConflict" data-plugin="alertify"
                              data-type="log" data-delay="3000" data-log-message="Ya este Email Existe para otro Propietario " style="visibility:hidden;">delay</button>
                            <button type="button" class="btn btn-primary waves-effect" id="EditEmployeeSave" data-plugin="alertify"
                              data-type="log" data-delay="3000" data-log-message="Se guardo con Exito" style="visibility:hidden;" >delay</button>
                            <button type="button" class="btn btn-primary waves-effect" id="EditEmpleoyeeError" data-plugin="alertify"
                              data-type="log" data-delay="3000" data-log-message="Error al guardar" style="visibility:hidden;" >delay</button>
                    </ul>
                    <%}else{%>
                      No hay Empleados disponibles
                    <%}%>
                    <%if(catpageE!=10){%>
                      <nav>
                        <ul data-plugin="paginator" id="paginationId2" data-total="<%=catpageE%>" data-skin="pagination-no-border"></ul>
                      </nav>
                    <%}%>
                    <input id="flagPaginator" value="2" style="visibility:hidden;">
                    <input id="Bid" value="<%=bussiId%>" style="visibility:hidden;">
                    <input id="pageN" value="<%=selectPageE%>" style="visibility:hidden;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Site Action Nuevo Empleado-->

<!-- End Site Action -->
<div class="modal fade" id="addStageFrom" aria-hidden="true" aria-labelledby="addStageFrom" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
        <h4 class="modal-title">Nuevo Empleado</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <label class="form-control-label">Nombre:</label>
                        <div class="col-md-10">
                            <input class="form-control" id="name"  required></input>
                        </div>
                    </div>
                    <div class="">
                        <label class="form-control-label">Telefono:</label>
                        <div class="col-md-10">
                            <input class="form-control" id="phone"></input>
                        </div>
                    </div>
                    <div class="">
                        <label class="form-control-label">Email:</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" id="email" required></input>
                        </div>
                    </div>
                    <div class="">
                        <label class="form-control-label">Password:</label>
                        <div class="col-md-10">
                            <input class="form-control" id="password" required></input>
                        </div>
                    </div>
                    <div class="col-md-12 panel-body container-fluid">
                      <div class="row row-lg">
                        <div class="example-wrap">
                          <label class="form-control-label">Seleccione una Imagen:</label>
                          <div class="example">
                            <input type="file" id="input-file-now" data-plugin="dropify" data-default-file=""/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <input type="text" class="form-control" id="idBusiness" value="<%=valores.objectId%>" style="visibility:hidden;">
                </div>
            </div>
          </div>
        </form>
        <div class="modal-footer text-left">
          <button class="btn btn-primary" type="submit" id="employeeCreate">Crear</button>
          <img class="loadgif" src="/public/assets/images/load.svg" style="margin-left:-40px; visibility:hidden;">
          <a class="btn btn-sm btn-white btn-pure" data-dismiss="modal" >Cancelar</a>
        </div>
      </div>
      <button type="button" class="btn btn-primary waves-effect" id="employeeDelaysucc" data-plugin="alertify"
      data-type="log" data-delay="3000" data-log-message="Datos Enviados" style="visibility:hidden;" >delay</button>
    </div>
  </div>
</div>
