<div class="navBusiness">
  <ul class="nav nav-tabs nav-tabs-line">
    <li class="nav-item"><a class="nav-link <%=dashboard%>"  href="/business/<%=valores.objectId%>/dashboard">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link <%=employee%>"  href="/business/<%=valores.objectId%>/dashboard?type=employee">Empleados</a></li>
    <li class="nav-item"><a class="nav-link <%=service%>"  href="/business/<%=valores.objectId%>/dashboard?type=service">Servicios</a></li>
    <!--<li class="nav-item"><a class="nav-link "  href="javascript:void(0)">Administrador</a></li>-->
  </ul>
</div>
