<nav class="site-navbar navbar navbar-default navbar-inverse navbar-fixed-top navbar-mega" role="navigation" style="background-color:#523eba;">
  <div class="navbar-header">
    <%if (session.ownerAdmin){%>
      <label class="col-md-0 form-control-label">Sucursales para:</label>
      <%if (session.valores.length>0){%>
        <label class="col-md-0 form-control-label" style="color:#8ce0e0;margin-left:20px;"><b><%=session.valores[0].name%></b></label>
      <%}else {%>
        <label class="col-md-0 form-control-label" style="color:#8ce0e0;margin-left:20px;"><b>Sin sucursal</b></label>
      <%}%>
    <%}%>
  </div>
  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar
      <!-- End Navbar Toolbar -->
      <%if (session.ownerAdmin){%>
        <select class="form-control" id="SelectBranch" style="width:10%;margin-bottom:-38px;position:absolute;margin-top:15px;">
          <%if (session.branch.length>0) {%>
            <%for(var i=0; i<session.branch.length; i++) {%>
              <%if(session.list[0].indexOf(session.branch[i].owner.objectId)>=0){%>
                <option value="<%=session.branch[i].nameCommerce%>" data-buss="<%=session.branch[i].objectId%>" data-owner="<%=session.branch[i].owner.objectId%>" selected><%=session.branch[i].nameCommerce%></option>
                <%}else{%>
                  <option value="<%=session.branch[i].nameCommerce%>" data-buss="<%=session.branch[i].objectId%>" data-owner="<%=session.branch[i].owner.objectId%>"><%=session.branch[i].nameCommerce%></option>
                <%}%>
            <%}%>
          <%} else{%>
            <option value="">No Existen</option>
          <%}%>
        </select>
      <%}%>
      <img style="margin-left:370px;padding:7px;" class="brand-img" src="/public/assets/images/logo.png" alt="...">
      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right" style="margin-right: 90px;">
        <li class="nav-item dropdown">
          <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
          data-animation="scale-up" role="button">
            <span class="avatar avatar-online">
              <img src="/public/assets/material/global/portraits/5.jpg" alt="...">
              <i></i>
            </span>
          </a>
          <div class="dropdown-menu" role="menu">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
          </div>
        </li>
        <li class="nav-item dropdown" style="visibility:hidden;margin-right: -90px;">
          <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
          aria-expanded="false" data-animation="scale-up" role="button">
            <i class="icon md-notifications" aria-hidden="true"></i>
            <span class="badge badge-pill badge-danger up">5</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
            <div class="dropdown-menu-header">
              <h5>NOTIFICATIONS</h5>
              <span class="badge badge-round badge-danger">New 5</span>
            </div>
            <div class="list-group">
              <div data-role="container">
                <div data-role="content">
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                    <div class="media">
                      <div class="pr-10">
                        <i class="icon md-receipt bg-red-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">A new order has been placed</h6>
                        <time class="media-meta" datetime="2017-06-12T20:50:48+08:00">5 hours ago</time>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                    <div class="media">
                      <div class="pr-10">
                        <i class="icon md-account bg-green-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Completed the task</h6>
                        <time class="media-meta" datetime="2017-06-11T18:29:20+08:00">2 days ago</time>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                    <div class="media">
                      <div class="pr-10">
                        <i class="icon md-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Settings updated</h6>
                        <time class="media-meta" datetime="2017-06-11T14:05:00+08:00">2 days ago</time>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                    <div class="media">
                      <div class="pr-10">
                        <i class="icon md-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Event started</h6>
                        <time class="media-meta" datetime="2017-06-10T13:50:18+08:00">3 days ago</time>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                    <div class="media">
                      <div class="pr-10">
                        <i class="icon md-comment bg-orange-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Message received</h6>
                        <time class="media-meta" datetime="2017-06-10T12:34:48+08:00">3 days ago</time>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="dropdown-menu-footer">
              <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                <i class="icon md-settings" aria-hidden="true"></i>
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                  All notifications
                </a>
            </div>
          </div>
        </li>
        <label style="margin-left:83px;margin-top:15px;position:absolute;font-size:small;color:aliceblue;"><%=session.name%></label>
        <%if (session.admin){%>
          <label style="margin-left:52px;margin-top: 34px;font-size:small;color:aliceblue;">Administrador</label>
        <%}else if (session.owner){%>
          <label style="margin-left:52px;margin-top: 34px;font-size:small;color:aliceblue;">Propietario</label>
        <%}else if (session.ownerAdmin){%>
          <label style="margin-left:52px;margin-top: 34px;font-size:small;color:aliceblue;">Propietario Administrador</label>
        <%} else{%>
          <label style="margin-left:52px;margin-top: 34px;font-size:small;color:aliceblue;">Empleado</label>
        <%}%>
      </ul>
      <!-- End Navbar Toolbar Right -->
    </div>
    <!-- End Navbar Collapse -->
    <!-- Site Navbar Seach -->
    <div class="collapse navbar-search-overlap" id="site-navbar-search">
      <form role="search">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon md-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="site-search" placeholder="Search...">
            <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
            data-toggle="collapse" aria-label="Close"></button>
          </div>
        </div>
      </form>
    </div>
    <!-- End Site Navbar Seach -->
  </div>
</nav>
<!-- flagParamas 0:business 1:branch 2:calendar 3:employee y servicelist 4:client  -->
<%if(session.varbuss!='0' && session.varowner!=0) {%>
  <%if (businessSelec==1){%>
    <input id="flagParamas" style="visibility:hidden;display:none;" value="0" />
    <input id="optionSelect" style="visibility:hidden;display:none;" value="/business/list?" />
  <%}else if (branchSelect==1){%>
    <input id="flagParamas" style="visibility:hidden;display:none;" value="1" />
  <%}else if (calendarSelec){%>
    <input id="flagParamas" style="visibility:hidden;display:none;" value="2" />
    <input id="optionSelect" style="visibility:hidden;display:none;" value="/calendar?twoService=1" />
  <%}else if (employeeSelec==1){%>
    <input id="flagParamas" style="visibility:hidden;display:none;" value="3" />
    <input id="optionSelect" style="visibility:hidden;display:none;" value="/employee/" />
  <%}else if (serviSelect==1){%>
    <input id="flagParamas" style="visibility:hidden;display:none;" value="3" />
    <input id="optionSelect" style="visibility:hidden;display:none;" value="/servicelist/" />
  <%}else if (clientSelect==1){%>
    <input id="flagParamas" style="visibility:hidden;display:none;" value="4" />
    <input id="optionSelect" style="visibility:hidden;display:none;" value="/client/" />
  <%}%>
<%}%>
<!-- Plugins -->
<script src="/public/assets/material/global/vendor/jquery/jquery.js"></script>
<script src="/public/assets/js/header.js"></script>
