<%
var redirect = '/';
var userId ='0';
if (usersType.admin){
  var redirect = 'admin';
}else if (usersType.owner){
  var redirect = 'owner';
}else{
  var redirect = 'employee';
}

if (usersType.userId){
  userId=usersType.userId;
}
var Em='', Das='', Cal='', Cat='', Emplo='', Servi='', Clie='';

if(businessSelec==1){
  Em = 'active';
}
if (dashSelec==1){
  Das = 'active';
}

if (calendarSelec==1){
  Cal = 'active';
}
if (categorySelec==1){
  Cat = 'active';
}
if (employeeSelec==1){
  Emplo = 'active';
}
if (serviSelect==1){
  Servi = 'active';
}
if (clientSelect==1){
  Clie = 'active';
}
%>

<div class="site-menubar">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu" data-plugin="menu">
          <%if (!usersType.owner){%>
            <li class="site-menu-item <%=Das%>">
              <a class="animsition-link" href="/<%=redirect%>?user=<%=userId%>">
                <i class="site-menu-icon md-view-dashboard" aria-hidden="true" style="color:#523eba"></i>
                <span class="site-menu-title">Dashboard</span>
              </a>
            </li>
          <%}%>
          <%if (usersType.owner || usersType.employee){%>
              <li class="site-menu-item has-sub <%=Cal%>">
              <%if (usersType.owner){%>
                <a href="/calendar?owner=<%=usersType.userId%>">
              <%} else if (usersType.employee){%>
                <a href="/calendar?employee=<%=usersType.userId%>">
              <%}%>
                <i class="site-menu-icon md-calendar" aria-hidden="true" style="color:#523eba"></i>
                <span class="site-menu-title">Calendario</span>
              </a>
              </li>
          <%}%>
          <%if (usersType.admin){%>
          <li class="site-menu-item has-sub <%=Em%>">
            <a href="javascript:void(0)">
              <i class="site-menu-icon md-chart" aria-hidden="true" style="color:#523eba"></i>
              <span class="site-menu-title">Empresas</span>
            </a>
            <ul class="site-menu-sub">
              <li class="site-menu-item">
                <a class="animsition-link" href="/business/list?user=<%=usersType.userId%>">
                  <span class="site-menu-title">Listado de Empresas</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link" href="/business?user=<%=usersType.userId%>">
                  <span class="site-menu-title">Nueva Empresa</span>
                </a>
              </li>
            </ul>
            </li>
            <li class="site-menu-item <%=Cat%>">
              <a class="animsition-link" href="#">
                <i class="site-menu-icon md-tag-more" aria-hidden="true" style="color:#523eba"></i>
                <span class="site-menu-title">Categorias</span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/category/list?user=<%=usersType.userId%>">
                    <span class="site-menu-title">Listado de Categorias</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/category?user=<%=usersType.userId%>">
                    <span class="site-menu-title">Nueva Categoria</span>
                  </a>
                </li>
              </ul>
            </li>
            <%} else if (usersType.owner){%>

              <li class="site-menu-item has-sub <%=Servi%>">
                <a href="/servicelist/<%=usersType.userId%>">
                <!--<a href="/service/<%=usersType.userId%>">-->
                  <i class="site-menu-icon md-store" aria-hidden="true" style="color:#523eba"></i>
                  <span class="site-menu-title">Servicios</span>
                </a>
                </li>
              <li class="site-menu-item has-sub <%=Emplo%>">
                <a href="/employee/<%=usersType.userId%>">
                  <i class="site-menu-icon md-accounts" aria-hidden="true" style="color:#523eba"></i>
                  <span class="site-menu-title">Empleados</span>
                </a>
                </li>
              <li class="site-menu-item has-sub <%=Clie%>">
                <a href="/client/<%=usersType.userId%>">
                  <i class="site-menu-icon md-accounts-list" aria-hidden="true" style="color:#523eba"></i>
                  <span class="site-menu-title">Clientes</span>
                </a>
                </li>

              <li class="site-menu-item has-sub ">
                <a href="/business/list?owner=<%=usersType.userId%>">
                  <i class="site-menu-icon md-settings" aria-hidden="true" style="color:#523eba"></i>
                  <span class="site-menu-title">Ajustes</span>
                </a>
                </li>
            <%}%>

        </ul>
      </div>
    </div>
  </div>
</div>
