<%var flag='false';%>
<%var count;%>
<%if (session.owner || session.ownerAdmin){%>
  <% include ../templates/head.ejs %>
  <link rel="stylesheet" href="/public/assets/material/examples/css/pages/user.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/alertify/alertify.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/notie/notie.css">
  <link rel="stylesheet" href="/public/assets/material/examples/css/advanced/alertify.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/select2/select2.min.css?v2.2.0">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/clockpicker/clockpicker.css">

  <link rel="stylesheet" href="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/dropify/dropify.css">

  <link rel="stylesheet" href="/public/assets/material/global/vendor/asrange/asRange.css">

  <body class="animsition page-user">
    <!-- Headear barra -->
    <% include ../templates/header.ejs %>
    <!-- Menu-->
    <% include ../templates/menuvertical.ejs %>
    <div class="page">
      <div class="page-content">
<%}%>

<div class="panel">
    <div class="panel-body">
        <form class="page-search-form" role="search">
        <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="dropdown page-user-sortlist" style="margin-right:100px;margin-top:-50px;">
              </div>
              <div class="site-action" data-target="#addTopicForm33" data-toggle="modal" data-plugin="actionBtn" style="position:absolute;margin-right:80px;margin-bottom:-50px;">
                <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating" style="position: absolute;margin-right: 54px;border-radius: 6px;width: 40px;height: 30px;background-color: #523eba;border-color: #523eba;">
                  <i class="icon md-plus" aria-hidden="true" style="position:absolute;font-size:1.7145rem;margin-left:-12px;margin-top: -4px;"></i>
                </button>
            </div>
              </div>
            </div>
            <div class="tab-content" style="padding:50px;">
              <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                <%if (serviceData.length>0){%>
                  <div class="row" style="color:#36459b;">
                    <div class="col-md-3">
                      <b>Servicio</b>
                    </div>
                    <div class="col-md-3">
                      <b>Empleados</b>
                    </div>
                    <div class="col-md-3">
                      <b>Duraci&oacute;n</b>
                    </div>
                    <div class="col-md-3">
                      <b>Precio</b>
                    </div>
                  </div>
                  <ul class="list-group">
                   <% for(var o=0; o<serviceData.length; o++) {%>
                   <%if (listCategory.indexOf(serviceData[o].category)>=0) {%>
                    <li class="list-group-item">
                      <%if (flag!=serviceData[o].category){%>
                        <label style="color:#36459b;text-transform: uppercase;"><b><%=serviceData[o].category%>:</b></label>
                      <%}%>
                      <div class="media">
                        <div class="media-body">
                          <form class="form-horizontal">
                            <div class="row">
                              <div class="col-md-3">
                                  <a href="/service/<%=serviceData[o].objectId%>/<%=bussiId%>"><label class="form-control" id="service-name-<%=serviceData[o].objectId%>" style="border:0px;background:none;cursor:pointer;"><%=serviceData[o].serviceName%></label></a>
                              </div>
                              <div class="col-md-3">
                                <%for (var list = 0; list < serviceData[o].alfonso[0].length; list++) {%>
                                  <% if (serviceData[o].alfonso[0].length >1) {%>
                                    <label><%=serviceData[o].alfonso[0][list].name%><%if(list+1!=serviceData[o].alfonso[0].length){%>,<%}%> </label>
                                  <%}else{%>
                                    <label><%=serviceData[o].alfonso[0][list].name%></label>
                                  <%}%>
                                <%}%>
                              </div>
                              <div class="col-md-3">
                                <!--<input class="form-control" id="service-duration-<%=serviceData[o].objectId%>" style="border:0px;background:none;" value="<%=serviceData[o].duration%>" disabled></input>-->
                                <label class="form-control" id="service-duration-<%=serviceData[o].objectId%>" style="border:0px;background:none;"><%=serviceData[o].duration%></label>
                                <!--<div class="example-wrap" style="width: 60%;">
                                  <div class="example mt-30">
                                     <div class="asRange rangeUi" id="service-duration-<%=serviceData[o].objectId%>"  data-plugin="asRange" data-namespace="rangeUi" data-step="1" data-min="1" data-tip="true" data-max="240" data-value="<%=serviceData[o].duration%>" style="pointer-events: none;">
                                    </div>
                                  </div>
                                  <span class="form-control-label" style="margin-left: 60%;margin-top: -95px;position:absolute;">min</span>
                                </div>-->
                              </div>
                              <div class="col-md-2">
                                <label class="form-control" id="service-price-<%=serviceData[o].objectId%>" style="border:0px;background:none;"><%=serviceData[o].price%></label>
                              </div>
                              <!--/service/idservicio/idempresa-->
                            </form>
                        </div>
                    </li>
                  <%}%>
                    <%flag=serviceData[o].category%>
                  <%}%>
              </ul>
                    <%}else{%>
                      No hay Servicios disponibles
                    <%}%>

                    <input id="flagPaginator" value="3" style="visibility:hidden;">
                    <input id="Bid" value="<%=bussiId%>" style="visibility:hidden;">
                    <input id="session" value="<%=session.userId%>" style="visibility:hidden;">

                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</form>

<!-- Nuevo Servicio -->


<!-- Fin de Nuevo Servicio -->
<div class="modal fade" id="addTopicForm33" aria-hidden="true" aria-labelledby="addTopicForm" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">Crear nuevo Servicio</h4>
            </div>
            <div class="modal-body container-fluid" style="width:100%;">
                <form method="post">
                    <div class="form-group">
                        <label class="form-control-label mb-15" for="topicTitle">Nombre:</label>
                        <input type="text" class="form-control" id="topicName" name="nombre" placeholder="Nombre" required/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label mb-15" for="topicTitle">Duraci&oacute;n:</label>
                        <!--<input type="text" class="form-control" id="topicDuration" name="duracion" placeholder="Duraci&oacute;n" required/>-->
                        <div class="example-wrap">
                          <div class="example mt-30">
                            <div class="asRange rangeUi" data-plugin="asRange" data-namespace="rangeUi" data-step="5" data-min="15" data-tip="true" data-max="180" data-value="0" style="width: 82%;">
                            </div>
                          </div>
                        </div>
                        <span class="form-control-label" style="margin-left:80%;margin-top:-101px;position:absolute;"><b>min</b></span>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label mb-15" for="topicTitle">Precio:</label>
                        <input type="text" class="form-control" id="topicPrice" name="precio" placeholder="Precio" required/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label mb-15" for="topicTitle">Descripci&oacute;n:</label>
                        <textarea name="content" id="topicDescription" data-provide="markdown" data-iconlibrary="fa" rows="10" style="width: 100%;margin-top: 0px;margin-bottom: 0px;height: 100px;"></textarea>
                    </div>
                    <label class="form-control-label" for="topicCategory">Categoria:</label>
                    <div class="form-group">
                      <div class="row">
                        <select class="col-md-6 form-control" style="width: 50%;" id="selectcate">
                          <%if (listCateSelect.length>0){%>
                            <%for (ai in listCateSelect){%>
                              <option value="<%=listCategory[ai]%>"><%=listCateSelect[ai]%></option>
                            <%}%>
                          <%}else{%>
                            <option value="Otros servicios">Otros servicios</option>
                          <%}%>
                        </select>
                        <input type="text" class="col-md-6 form-control" id="catename" placeholder="Nueva Categoria" />
                      </div>
                    </div>
                    <!-- Example Multi Balue -->
                    <div class="example-wrap">
                      <div class="row">
                        <div class="col-sm-12">
                          <label class="form-control-label" for="topicCategory">Empleado:</label>
                          <div class="example">
                            <select class="form-control select2-hidden-accessible input-select-final" multiple="" data-plugin="select2" tabindex="-1" aria-hidden="true">
                              <% for(var e=0; e<employeeB.employee.length; e++) {%>
                                <option  data-id-option="<%=employeeB.employee[e].objectId%>" id="<%=employeeB.employee[e].objectId%>"><%=employeeB.employee[e].name%></option>
                              <%}%>
                            </select><span class="select2 select2-container select2-container--material select2-container--below select2-container--focus" dir="ltr"><span class="selection">
                              <span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                              <ul class="select2-selection__rendered este">
                              </ul>
                              </span>
                              </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group row form-material row">
                          <label class="col-md-4 form-control-label">Dia</label>
                          <label class="col-md-4 form-control-label">Horario1</label>
                          <label class="col-md-4 form-control-label">Horario2</label>
                      </div>
                        <div class="form-group row form-material row">
                          <label class="col-md-2 form-control-label">Lunes</label>
                          <div class="input-group" style="width:20%;margin-left:25px;">
                            <span class="input-group-addon">
                              <span class="md-time">
                              </span>
                            </span>
                            <input type="text" id="serviceLunes1" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left:-8px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceLunes2" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>

                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceLunes3" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceLunes4" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                        </div>


                        <div class="form-group row form-material row">

                          <label class="col-md-4 form-control-label">Martes</label>
                          <div class="input-group" style="width:20%;margin-left:-70px;">
                            <span class="input-group-addon">
                              <span class="md-time">
                              </span>
                            </span>
                            <input type="text" id="serviceMartes1" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left:-8px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceMartes2" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>

                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceMartes3" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceMartes4" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>

                      </div>
                        <div class="form-group row form-material row">

                          <label class="col-md-4 form-control-label">Miercoles</label>
                          <div class="input-group" style="width:20%;margin-left:-70px;">
                            <span class="input-group-addon">
                              <span class="md-time">
                              </span>
                            </span>
                            <input type="text" id="serviceMiercoles1" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left:-8px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceMiercoles2" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>

                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceMiercoles3" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceMiercoles4" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>

                      </div>
                        <div class="form-group row form-material row">

                          <label class="col-md-4 form-control-label">Jueves</label>
                          <div class="input-group" style="width:20%;margin-left:-70px;">
                            <span class="input-group-addon">
                              <span class="md-time">
                              </span>
                            </span>
                            <input type="text" id="serviceJueves1" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left:-8px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceJueves2" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>

                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceJueves3" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceJueves4" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>

                      </div>
                        <div class="form-group row form-material row">

                          <label class="col-md-4 form-control-label">Viernes</label>
                          <div class="input-group" style="width:20%;margin-left:-70px;">
                            <span class="input-group-addon">
                              <span class="md-time">
                              </span>
                            </span>
                            <input type="text" id="serviceViernes1" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left:-8px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceViernes2" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>

                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceViernes3" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceViernes4" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>

                      </div>
                        <div class="form-group row form-material row">

                          <label class="col-md-4 form-control-label">Sabado</label>
                          <div class="input-group" style="width:20%;margin-left:-70px;">
                            <span class="input-group-addon">
                              <span class="md-time">
                              </span>
                            </span>
                            <input type="text" id="serviceSabado1" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left:-8px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceSabado2" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceSabado3" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceSabado4" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>

                      </div>
                        <div class="form-group row form-material row">

                          <label class="col-md-4 form-control-label">Domingo</label>
                          <div class="input-group" style="width:20%;margin-left:-70px;">
                            <span class="input-group-addon">
                              <span class="md-time">
                              </span>
                            </span>
                            <input type="text" id="serviceDomingo1" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left:-8px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceDomingo2" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>

                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceDomingo3" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                          <div class="input-group" style="width:20%;margin-left: 0px;">
                            <span class="input-group-addon">
                              <span class="md-time"></span>
                            </span>
                            <input type="text" id="serviceDomingo4" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                          </div>
                      </div>
                      </div>
                  </div>
                  <div class="form-group row form-material row">
                    <label class="col-md-4 form-control-label"></label>
                </div>
                  <div class="form-group row form-material row">
                    <label class="col-md-4 form-control-label"></label>
                </div>
                  <div class="form-group row form-material row">
                    <label class="col-md-4 form-control-label"></label>
                </div>
            <input style="visibility:hidden;" id="businessid" value="<%if (session.owner || session.ownerAdmin){%><%=bussiId%><%}else{%><%=valores.objectId%><%}%>"></input>
            <input style="visibility:hidden;" id="asRangevalue" value=""></input>
          </form>
          <div class="modal-footer text-left">
            <button class="btn btn-primary service" id="btnS" type="submit">Crear</button>
            <img class="loadgif" src="/public/assets/images/load.svg" style="margin-left:-40px; visibility:hidden;">
            <a class="btn btn-sm btn-white btn-flat cancelService" data-dismiss="modal" href="javascript:void(0)">Cancelar</a>
          </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    <button type="button" class="btn btn-sm btn-primary waves-effect" id="serviceDelay" data-plugin="alertify"
      data-type="log" data-delay="3000" data-log-message="Datos Enviados" style="visibility:hidden;" >delay</button>
    <button type="button" class="btn btn-sm btn-primary waves-effect" id="serviceok" data-plugin="alertify"
      data-type="log" data-delay="3000" data-log-message="Borrada" style="visibility:hidden;" >delay</button>
    <button type="button" class="btn btn-sm btn-primary waves-effect" id="servicecancel" data-plugin="alertify"
      data-type="log" data-delay="3000" data-log-message="Cancelada" style="visibility:hidden;" >delay</button>
    <button type="button" class="btn btn-sm btn-primary waves-effect" id="CompletaHoraS" data-plugin="alertify"
      data-type="log" data-delay="3000" data-log-message="Debes completar el par de horas" style="visibility:hidden;" >delay</button>
    <button type="button" class="btn btn-sm btn-primary waves-effect" id="CompletaEmplo" data-plugin="alertify"
      data-type="log" data-delay="3000" data-log-message="Es necesario un empleado" style="visibility:hidden;" >delay</button>

<%if (session.owner || session.ownerAdmin){%>
<!-- Footer -->
<% include ../templates/footer.ejs %>
<!-- Core  -->
<script src="/public/assets/material/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
<script src="/public/assets/material/global/vendor/jquery/jquery.js"></script>
<script src="/public/assets/material/global/vendor/tether/tether.js"></script>
<script src="/public/assets/material/global/vendor/bootstrap/bootstrap.js"></script>
<script src="/public/assets/material/global/vendor/animsition/animsition.js"></script>
<script src="/public/assets/material/global/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="/public/assets/material/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
<script src="/public/assets/material/global/vendor/asscrollable/jquery-asScrollable.js"></script>
<script src="/public/assets/material/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
<script src="/public/assets/material/global/vendor/waves/waves.js"></script>
<!-- Plugins -->
<script src="/public/assets/material/global/vendor/switchery/switchery.min.js"></script>
<script src="/public/assets/material/global/vendor/intro-js/intro.js"></script>
<script src="/public/assets/material/global/vendor/screenfull/screenfull.js"></script>
<script src="/public/assets/material/global/vendor/slidepanel/jquery-slidePanel.js"></script>
<script src="/public/assets/material/global/vendor/aspaginator/jquery.asPaginator.min.js"></script>
<script src="/public/assets/material/global/vendor/alertify/alertify.js"></script>


<script src="/public/assets/material/global/vendor/jquery-ui/jquery-ui.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-tmpl/tmpl.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-canvas-to-blob/canvas-to-blob.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-load-image/load-image.all.min.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-process.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-image.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-audio.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-video.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-validate.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-ui.js"></script>
<script src="/public/assets/material/global/vendor/dropify/dropify.min.js"></script>

<script src="/public/assets/material/global/vendor/asrange/jquery-asRange.min.js"></script>

<!-- Scripts -->
<script src="/public/assets/material/global/js/State.js"></script>
<script src="/public/assets/material/global/js/Component.js"></script>
<script src="/public/assets/material/global/js/Plugin.js"></script>
<script src="/public/assets/material/global/js/Base.js"></script>
<script src="/public/assets/material/global/js/Config.js"></script>
<script src="/public/assets/material/js/Section/Menubar.js"></script>
<script src="/public/assets/material/js/Section/Sidebar.js"></script>
<script src="/public/assets/material/js/Section/PageAside.js"></script>
<script src="/public/assets/material/js/Plugin/menu.js"></script>
 <script src="/public/assets/material/global/vendor/clockpicker/bootstrap-clockpicker.min.js"></script>
<!-- Config -->
<script src="/public/assets/material/global/js/config/colors.js"></script>
<script src="/public/assets/material/js/config/tour.js"></script>
<script>
Config.set('assets', '../../assets');
</script>
<!-- Page -->
<script src="/public/assets/js/moment.js"></script>
<script src="/public/assets/material/js/Site.js"></script>
<script src="/public/assets/material/global/js/Plugin/asscrollable.js"></script>
<script src="/public/assets/material/global/js/Plugin/slidepanel.js"></script>
<script src="/public/assets/material/global/js/Plugin/switchery.js"></script>
<script src="/public/assets/material/global/js/Plugin/aspaginator.js"></script>
<script src="/public/assets/material/global/js/Plugin/responsive-tabs.js"></script>
<script src="/public/assets/material/global/js/Plugin/tabs.js"></script>
<script src="/public/assets/material/global/js/Plugin/alertify.js"></script>
<script src="/public/assets/material/global/vendor/select2/select2.min.js"></script>
<script src="/public/assets/material/global/js/Plugin/select2.min.js"></script>
<script src="/public/assets/material/global/js/Plugin/clockpicker.js"></script>

<script src="/public/assets/material/global/js/Plugin/dropify.js"></script>
<script src="/public/assets/material/examples/js/forms/uploads.js"></script>
<script src="/public/assets/material/global/js/Plugin/asrange.js"></script>
<script src="/public/assets/js/service.js"></script>

</body>
</html>
<div class="alertify-logs"></div>
<%}%>
