
  <% include ../templates/head.ejs %>
  <link rel="stylesheet" href="/public/assets/material/examples/css/pages/user.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/alertify/alertify.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/notie/notie.css">
  <link rel="stylesheet" href="/public/assets/material/examples/css/advanced/alertify.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/select2/select2.min.css?v2.2.0">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/clockpicker/clockpicker.css">

  <link rel="stylesheet" href="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/dropify/dropify.css">

  <link rel="stylesheet" href="/public/assets/material/global/vendor/asrange/asRange.css">

  <body class="animsition page-user">
    <!-- Headear barra -->
    <% include ../templates/header.ejs %>
    <!-- Menu-->
    <% include ../templates/menuvertical.ejs %>
    <div class="page">
      <div class="page-content">




<div class="panel">
    <div class="panel-body">
        <form class="page-search-form" role="search"></form>
        <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <!--<div class="dropdown page-user-sortlist" style="margin-right:100px;margin-top:-50px;">
                  Ordenar Por: <a class="dropdown-toggle inline-block" data-toggle="dropdown" href="#" aria-expanded="false">Nombre</a>
                  <div class="dropdown-menu animation-scale-up animation-top-right animation-duration-250" role="menu">
                      <a class="active dropdown-item" href="javascript:void(0)">Otra</a>
                  </div>
                  <div class="site-action" data-target="#addTopicForm33" data-toggle="modal" data-plugin="actionBtn" style="position:absolute;margin-right:-60px;margin-bottom:-31px;">
                      <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating" style="position: absolute;margin-right: 54px;border-radius: 6px;width: 40px;height: 30px;background-color: #523eba;border-color: #523eba;">
                      <i class="icon md-plus" aria-hidden="true" style="position:absolute;font-size:1.7145rem;margin-left:-12px;margin-top: -4px;"></i>
                    </button>
                  </div>
                </div>-->
              </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                    <ul class="list-group">
                      <%if (serviceData.length>0){%>
                        <% for(var o=0; o<serviceData.length; o++) {%>
                            <li class="list-group-item">

                                <div class="media">
                                  <div class="pr-20">
                                      <!--<div class="avatar avatar-online">
                                          <img src="/public/assets/images/service.svg" alt="...">
                                          <i class="avatar avatar-busy"></i>
                                      </div>-->
                                  </div>
                                  <div class="media-body">
                                      <form class="form-horizontal">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <div class="form-group row form-material row">
                                                      <label class="col-md-6 form-control-label">Nombre:</label>
                                                      <div class="col-md-6">
                                                          <input class="form-control" id="service-name-<%=serviceData[o].objectId%>" style="border:0px;background:none;" value="<%=serviceData[o].serviceName%>" disabled></input>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row form-material row">
                                                      <label class="col-md-6 form-control-label">Duraci&oacute;n:</label>
                                                      <div class="col-md-6">
                                                          <!--<input class="form-control" id="service-duration-<%=serviceData[o].objectId%>" style="border:0px;background:none;" value="<%=serviceData[o].duration%>" disabled></input>-->
                                                          <div class="example-wrap">
                                                            <div class="example mt-30">
                                                              <div class="asRange rangeUi" id="service-duration-<%=serviceData[o].objectId%>"  data-plugin="asRange" data-namespace="rangeUi" data-step="5" data-min="15" data-tip="true" data-max="240" data-value="<%=serviceData[o].duration%>" style="pointer-events: none;">
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <span class="form-control-label" style="margin-left:80%;margin-top:-101px;position:absolute;">min</span>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row form-material row">
                                                      <label class="col-md-6 form-control-label">Precio:</label>
                                                      <div class="col-md-6">
                                                          <input class="form-control" id="service-price-<%=serviceData[o].objectId%>" style="border:0px;background:none;width:140%;" value="<%=serviceData[o].price%>" disabled></input>
                                                      </div>
                                                  </div>

                                                  <div class="form-group row form-material row">
                                                    <label class="col-md-6 form-control-label">Empleado:</label>
                                                    <div class="col-md-6">
                                                      <select class="form-control select2-hidden-accessible input-edit" id="selectSe-<%=serviceData[o].objectId%>" multiple="" data-plugin="select2" tabindex="-1" aria-hidden="true" disabled>
                                                        <% for(var a=0; a<employeeB.employee.length; a++) {%>
                                                          <!-- final[i] -->
                                                          <%=final[o]%>--><%=employeeB.employee[a].objectId%>
                                                          <% if (final[o].indexOf(employeeB.employee[a].objectId)>=0) {%>
                                                            <option  data-id-option="<%=employeeB.employee[a].objectId%>" id="<%=employeeB.employee[a].objectId%>" selected><%=employeeB.employee[a].name%></option>
                                                          <%}else{%>
                                                            <option  data-id-option="<%=employeeB.employee[a].objectId%>" id="<%=employeeB.employee[a].objectId%>"><%=employeeB.employee[a].name%></option>
                                                          <%}%>
                                                        <%}%>
                                                      </select><span class="select2 select2-container select2-container--material select2-container--below select2-container--focus" dir="ltr"><span class="selection">
                                                        <span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                                          <ul class="select2-selection__rendered">
                                                        </ul>
                                                        </span>
                                                        </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                      </div>
                                                    </div>
                                              </div>

                                              <div class="col-md-5">
                                                <div class="form-group row form-material row">
                                                    <label class="col-md-6 form-control-label">Descripci&oacute;n:</label>
                                                    <textarea class="form-control" name="content" id="service-description-<%=serviceData[o].objectId%>" style="width: 160px;" disabled><%=serviceData[o].description%></textarea>
                                                </div>
                                                <div class="form-group row form-material row">
                                                  <label class="col-md-6 form-control-label">Categoria:</label>
                                                  <select class="col-md-6 form-control" style="width: 50%;" id="selectcateO-<%=serviceData[o].objectId%>" disabled>
                                                      <%for (ai in listCateSelect2){%>
                                                        <%if (listCateSelect2[ai].name==selectedCustom.name){%>
                                                          <option value="<%=listCateSelect2[ai].id%>" selected><%=listCateSelect2[ai].name%></option>
                                                        <%}else{%>
                                                          <option value="<%=listCateSelect2[ai].id%>"><%=listCateSelect2[ai].name%></option>
                                                        <%}%>
                                                      <%}%>
                                                  </select>
                                                </div>

                                                <div class="form-group row form-material row" style="visibility:hidden;">
                                                  <label class="col-md-6 form-control-label" >Crear nueva Categoria:</label>
                                                  <input type="text" class="col-md-6 form-control" id="catenameO-<%=serviceData[o].objectId%>" placeholder="Nueva Categoria" />
                                                </div>
                                              </div>

                                          <div class="col-md-3">
                                            <div class="pl-20 align-self-center">
                                              <button type="button" class="btn btn-primary btn-sm editS btnS-<%=serviceData[o].objectId%>" data-edit-id="<%=serviceData[o].objectId%>" ><span id="nameS-<%=serviceData[o].objectId%>">Editar</span></button>
                                              <button type="button" class="btn btn-primary btn-danger waves-effect deleteS" data-delete-id="<%=serviceData[o].objectId%>" id="confirmS-<%=serviceData[o].objectId%>" style="height:32px;">Eliminar</button>
                                              <img class="loadgif" src="/public/assets/images/load.svg" style="margin-left:-40px; visibility:hidden;">
                                            </div>
                                          </div>
                                          <div class="col-md-10">
                                            <div class="form-group row form-material row">
                                              <label class="col-md-4 form-control-label">Dia</label>
                                              <label class="col-md-2 form-control-label">Horario1</label>
                                              <label class="col-md-4 form-control-label">Horario2</label>
                                          </div>
                                          <% for(var w=0; w<serviceData[o].schedule.length; w++) {%>

                                              <% for (var kk in serviceData[o].schedule[w]){%>

                                              <div class="form-group row form-material row">
                                                <label class="col-md-4 form-control-label"><%=kk%></label>
                                                <div class="input-group col-md-2" style="">
                                                  <span class="input-group-addon">
                                                    <span class="md-time">
                                                    </span>
                                                  </span>
                                                  <input type="text" id="<%=kk%>-0-<%=serviceData[o].objectId%>" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true" value="<%=serviceData[o].schedule[w][kk][0].horario1[0]%>" disabled>
                                                </div>
                                                <div class="input-group col-md-2" style="">
                                                  <span class="input-group-addon">
                                                    <span class="md-time"></span>
                                                  </span>
                                                  <input type="text" id="<%=kk%>-1-<%=serviceData[o].objectId%>" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true" value="<%=serviceData[o].schedule[w][kk][0].horario1[1]%>" disabled>
                                                </div>

                                                <div class="input-group col-md-2" style="">
                                                  <span class="input-group-addon">
                                                    <span class="md-time"></span>
                                                  </span>
                                                  <input type="text" id="<%=kk%>-2-<%=serviceData[o].objectId%>" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true" value="<%=serviceData[o].schedule[w][kk][0].horario2[0]%>" disabled>
                                                </div>
                                                <div class="input-group col-md-2" style="">
                                                  <span class="input-group-addon">
                                                    <span class="md-time"></span>
                                                  </span>
                                                  <input type="text" id="<%=kk%>-3-<%=serviceData[o].objectId%>" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true" value="<%=serviceData[o].schedule[w][kk][0].horario2[1]%>" disabled>
                                                </div>
                                              </div>
                                            <%}%>
                                          <%}%>

                                          </div>
                                        </div>
                                  </form>
                              </div>
                            </li>
                            <%}%>
                            <button type="button" class="btn btn-sm btn-primary waves-effect" id="serviceDelay" data-plugin="alertify"
                            data-type="log" data-delay="3000" data-log-message="Datos Enviados" style="visibility:hidden;" >delay</button>
                            <button type="button" class="btn btn-sm btn-primary waves-effect" id="serviceok" data-plugin="alertify"
                              data-type="log" data-delay="3000" data-log-message="Borrada" style="visibility:hidden;" >delay</button>
                            <button type="button" class="btn btn-sm btn-primary waves-effect" id="servicecancel" data-plugin="alertify"
                              data-type="log" data-delay="3000" data-log-message="Cancelada" style="visibility:hidden;" >delay</button>
                            <button type="button" class="btn btn-sm btn-primary waves-effect" id="CompletaHoraS" data-plugin="alertify"
                            data-type="log" data-delay="3000" data-log-message="Debes completar el par de horas" style="visibility:hidden;" >delay</button>
                            <button type="button" class="btn btn-sm btn-primary waves-effect" id="CompletaEmplo" data-plugin="alertify"
                              data-type="log" data-delay="3000" data-log-message="Es necesario un empleado" style="visibility:hidden;" >delay</button>
                            <button type="button" class="btn btn-primary waves-effect" id="EditEmployeeSave" data-plugin="alertify"
                              data-type="log" data-delay="3000" data-log-message="Se guardo con Exito" style="visibility:hidden;" >delay</button>
                    </ul>
                    <%}else{%>
                      No hay Servicios disponibles
                    <%}%>

                    <input id="flagPaginator" value="3" style="visibility:hidden;">
                    <input id="Bid" value="<%=bussiId%>" style="visibility:hidden;">
                    <input id="session" value="<%if (session.owner){%><%=session.userId%><%}else if (session.ownerAdmin){%><%=session.varowner%><%}%>" style="visibility:hidden;">
                    <input id="BidFlag" value="<%if (session.owner){%>1<%}else{%>2<%}%>" style="visibility:hidden;">
                    <input id="pageN" value="<%=selectPageE%>" style="visibility:hidden;">
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- Nuevo Servicio -->
<!-- Fin de Nuevo Servicio -->
  </div>
</div>



<!-- Footer -->
<% include ../templates/footer.ejs %>
<!-- Core  -->
<script src="/public/assets/material/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
<script src="/public/assets/material/global/vendor/jquery/jquery.js"></script>
<script src="/public/assets/material/global/vendor/tether/tether.js"></script>
<script src="/public/assets/material/global/vendor/bootstrap/bootstrap.js"></script>
<script src="/public/assets/material/global/vendor/animsition/animsition.js"></script>
<script src="/public/assets/material/global/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="/public/assets/material/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
<script src="/public/assets/material/global/vendor/asscrollable/jquery-asScrollable.js"></script>
<script src="/public/assets/material/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
<script src="/public/assets/material/global/vendor/waves/waves.js"></script>
<!-- Plugins -->
<script src="/public/assets/material/global/vendor/switchery/switchery.min.js"></script>
<script src="/public/assets/material/global/vendor/intro-js/intro.js"></script>
<script src="/public/assets/material/global/vendor/screenfull/screenfull.js"></script>
<script src="/public/assets/material/global/vendor/slidepanel/jquery-slidePanel.js"></script>
<script src="/public/assets/material/global/vendor/aspaginator/jquery.asPaginator.min.js"></script>
<script src="/public/assets/material/global/vendor/alertify/alertify.js"></script>


<script src="/public/assets/material/global/vendor/jquery-ui/jquery-ui.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-tmpl/tmpl.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-canvas-to-blob/canvas-to-blob.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-load-image/load-image.all.min.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-process.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-image.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-audio.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-video.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-validate.js"></script>
<script src="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload-ui.js"></script>
<script src="/public/assets/material/global/vendor/dropify/dropify.min.js"></script>

<script src="/public/assets/material/global/vendor/asrange/jquery-asRange.min.js"></script>

<!-- Scripts -->
<script src="/public/assets/material/global/js/State.js"></script>
<script src="/public/assets/material/global/js/Component.js"></script>
<script src="/public/assets/material/global/js/Plugin.js"></script>
<script src="/public/assets/material/global/js/Base.js"></script>
<script src="/public/assets/material/global/js/Config.js"></script>
<script src="/public/assets/material/js/Section/Menubar.js"></script>
<script src="/public/assets/material/js/Section/Sidebar.js"></script>
<script src="/public/assets/material/js/Section/PageAside.js"></script>
<script src="/public/assets/material/js/Plugin/menu.js"></script>
 <script src="/public/assets/material/global/vendor/clockpicker/bootstrap-clockpicker.min.js"></script>
<!-- Config -->
<script src="/public/assets/material/global/js/config/colors.js"></script>
<script src="/public/assets/material/js/config/tour.js"></script>
<script>
Config.set('assets', '../../assets');
</script>
<!-- Page -->
<script src="/public/assets/js/moment.js"></script>
<script src="/public/assets/material/js/Site.js"></script>
<script src="/public/assets/material/global/js/Plugin/asscrollable.js"></script>
<script src="/public/assets/material/global/js/Plugin/slidepanel.js"></script>
<script src="/public/assets/material/global/js/Plugin/switchery.js"></script>
<script src="/public/assets/material/global/js/Plugin/aspaginator.js"></script>
<script src="/public/assets/material/global/js/Plugin/responsive-tabs.js"></script>
<script src="/public/assets/material/global/js/Plugin/tabs.js"></script>
<script src="/public/assets/material/global/js/Plugin/alertify.js"></script>
<script src="/public/assets/js/service.js"></script>
<script src="/public/assets/material/global/vendor/select2/select2.min.js"></script>
<script src="/public/assets/material/global/js/Plugin/select2.min.js"></script>
<script src="/public/assets/material/global/js/Plugin/clockpicker.js"></script>

<script src="/public/assets/material/global/js/Plugin/dropify.js"></script>
<script src="/public/assets/material/examples/js/forms/uploads.js"></script>
 <script src="/public/assets/material/global/js/Plugin/asrange.js"></script>


<script>
(function(document, window, $) {
  'use strict';
  var Site = window.Site;
  $(document).ready(function() {
    Site.run();
    if ($(".pagination-next")[0] && $(".pagination-next")[0].className) {
      var cadena = $(".pagination-next")[0].className;
      if (cadena.indexOf('disabled') != -1) {
        $(".pagination-next").prop("onclick", null);
      }
    }
    if ($(".pagination-prev")[0] &&  $(".pagination-prev")[0].className) {
      var cadena2 = $(".pagination-prev")[0].className;
      if (cadena2.indexOf('disabled') != -1) {
        $(".pagination-prev").prop("onclick", null);
      }
    }
  });
})(document, window, jQuery);

function prevC() {
  var delayMillis = 100;
  setTimeout(function() {
    var lis = $("li.pagination-items").find("active");
    for (var i = 0; i < lis.prevObject.length; i++) {
        var nameclass = lis.prevObject[i].className;
        if (nameclass.search("active")!="-1") {
          if ($("#flagPaginator").val()==3) {
            window.location.href = '/service/'+$("#session").val()+'?page='+lis.prevObject[i].textContent;
          }
        }
    }
  }, delayMillis);
}
function nextC() {
  var delayMillis = 100;
  setTimeout(function() {
    var lis = $("li.pagination-items").find("active");
    for (var i = 0; i < lis.prevObject.length; i++) {
        var nameclass = lis.prevObject[i].className;
        if (nameclass.search("active")!="-1") {
          if ($("#flagPaginator").val()==3) {
            window.location.href = '/service/'+$("#session").val()+'?page='+lis.prevObject[i].textContent;
          }
        }
    }
  }, delayMillis);
}

</script>


<% for(var g=0; g<serviceData.length; g++) {%>
<div class="alertify modalS-<%=serviceData[g].objectId%>" style="visibility:hidden;">
  <div class="dialog">
    <div><p class="msg">Seguro de eliminar?</p>
      <nav>
        <button class="Scancel btn btn-default" data-cancel-id="<%=serviceData[g].objectId%>" tabindex="2">Cancelar</button>
        <button class="Sok btn btn-primary" data-ok-id="<%=serviceData[g].objectId%>" tabindex="1">Borrar</button>
      </nav>
    </div>
  </div>
</div>
<%}%>
</body>
</html>
